!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OCOMOCO
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header.p-4.bg-sky-400
      .container.mx-auto
        %nav.flex.gap-x-2
          = link_to MocoAccount.model_name.human(count: 0), moco_accounts_path, class: "navigation-link"
    %main.p-4
      .container.mx-auto.flex.flex-col
        = yield
